<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="bi bi-house-door-fill"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container">
  <h2>Products</h2>
  <!-- <button type="button" class="btn btn-light" (click)="loadAll()">
    Load all data
  </button> -->
  <!-- <button type="button" class="btn btn-light" (click)="products = []">
    Clear data</button
  ><br /> -->
  <!-- <input type="search" placeholder="Filter data" #isearch /><br />
  <button type="button" class="btn btn-light" (click)="search(isearch.value)">
    Search data</button
  ><br /> -->
  <!-- <input type="text" placeholder="New product" #iproductName /><br />
  <button type="button" class="btn btn-light" (click)="save(iproductName.value)">
    Save </button><br />
  <div class="text-bg-warning p-3" *ngIf="!products || products.length === 0">
    No data!
  </div> -->
  <!-- <ng-container *ngIf="products.length; then productList; else productsEmpty">
  </ng-container>
  <ng-template #productList>
    <p>Items: {{ products.length }}</p>
  </ng-template>
  <ng-template #productsEmpty>
    <p>No data!</p>
  </ng-template> -->
  <!-- <ul class="list-group list-group-flush">
    <li *ngFor="let p of products" class="list-group-item">
      {{ p.productName | uppercase }}<br />
      {{ p.quantityPerUnit }}<br />
      {{ p.unitPrice | currency }}<br />
      {{ p.unitsInStock }}
    </li>
  </ul> -->
</main>
