<h3>Product Create (Reactive)</h3>

<form [formGroup]="mainForm" (ngSubmit)="onSave()">
  <dl>
    <div [ngClass]="{ 'has-error': isValid('productName') }">
      <dt>Name</dt>
      <dd>
        <input
          type="text"
          placeholder="Product Name"
          class="form-control"
          formControlName="productName"
          [class.is-invalid]="(productNameGet?.touched || productNameGet?.dirty) &&
            productNameGet?.errors"/>
        <ng-container
          *ngIf="
            (productNameGet?.touched || productNameGet?.dirty) &&
            productNameGet?.errors">
          <span
            *ngIf="productNameGet?.errors?.['required']"
            class="invalid-feedback">
            El nombre del producto es requerido.
          </span>
          <span
            *ngIf="productNameGet?.errors?.['minlength']"
            class="invalid-feedback">
            El nombre requiere al menos 3 caracteres.
          </span>
        </ng-container>
        <span
          [hidden]="productNameGet?.valid || productNameGet?.pristine"
          class="invalid-feedback">
          Nombre es requerido.
        </span>
      </dd>
    </div>
  </dl>
  <button type="submit" class="btn btn-primary" [disabled]="!mainForm.valid">
    Save
  </button>
</form>
<br />Dirty: {{ mainForm.dirty }} <br />Touched: {{ mainForm.touched }}
<br />Valid: {{ mainForm.valid }} <br />Value: {{ mainForm.value | json }}
